ให้ทุกคนฝึกฝนด้วยตนเองก่อนคลาสในวันศุกร์
* อ่านไฟล์ใน Google Drive ของตนเองบน Google Colab
* อ่านไฟล์ในเครื่องตนเองด้วย Jupyter Notebook ในเครื่องของตน
* อ่านไฟล์ใน Google Drive ของตนเองผ่าน Jupyter Notebook ในเครื่องของตน ซึ่งสามารถสร้าง sharable link แล้วนำมาเป็น path ของไฟล์ที่ต้องการอ่านได้ (หรือปกติก็สามารถดาวน์โหลดไฟล์ลงเครื่องตนเองแล้วอ่านตามปกติ)

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data_1 = pd.read_csv('/content/drive/My Drive/python_colab_2023/diabetes.csv')
data_1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [1]:
import os

In [ ]:
os.getcwd()

'/content'

In [ ]:
path =  os.getcwd()+'/drive/My Drive/python_colab_2023/diabetes.csv'

In [ ]:
data_2 = pd.read_csv(path)
data_2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

##jupyter

In [ ]:
import pandas as pd

In [ ]:
import os

In [ ]:
os.getcwd()

'C:\\Users\\Dell\\Downloads'

In [ ]:
data_3 = pd.read_csv('diabetes.csv')
data_3

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [1]:
import numpy as np

In [2]:
x = np.arange(5)
x

array([0, 1, 2, 3, 4])

In [3]:
# numpy.linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)[source]
y = np.linspace(start = 2, stop = 10, num = 5)
y

array([ 2.,  4.,  6.,  8., 10.])

Chebyshev distance เป็นการวัดความต่างระหว่างข้อมูลแบบ $L_\infty$ norm ซึ่งเป็นกรณีพิเศษของ Minkowski distance: $\left(\sum_{i=1}^{k} \lvert x_i - y_i \rvert^r\right)^{1/r}$ ที่ $r=\infty$ โดยสามารถคำนวณค่าได้ดังนี้
$$d(x,y) = \max_{i} \left( \lvert x_{i} - y_{i} \rvert \right)$$

สร้างฟังก์ชันสำหรับคำนวณ Chebyshev distance ระหว่างเวคเตอร์ 2 เวคเตอร์ ที่แต่ละเวคเตอร์มีขนาด k มิติ (numpy array of length k)

In [35]:
def Cheby_dist(vec_1, vec_2):
  distance = np.max(abs(np.array(vec_1) - np.array(vec_2)))
  return distance

In [36]:
Cheby_dist(x, y)

6.0

Canberra distance เป็นการวัดความต่างระหว่างข้อมูลแบบ Manhattan distance ที่ถ่วงน้ำหนัก (weighted Manhattan distance) โดยคำนวณดังนี้
$$d(x,y) = \sum_{i=1}^{k} \frac{\lvert x_{i} - y_{i} \rvert}{\lvert x_{i} \rvert + \lvert y_{i} \rvert}$$

สร้างฟังก์ชันสำหรับคำนวณ Canberra distance ระหว่างเวคเตอร์ 2 เวคเตอร์ ที่แต่ละเวคเตอร์มีขนาด k มิติ

In [6]:
def Canber_dist(vec_1, vec_2):
      distance = np.sum(abs(np.array(vec_1) - np.array(vec_2)) / (abs(np.array(vec_1)) + abs(np.array(vec_2))))
      return distance

In [7]:
Canber_dist(x, y)

2.983116883116883

สร้างฟังก์ชันสำหรับคำนวณค่าเฉลี่ยของค่าในเวคเตอร์หนึ่ง โดยไม่ใช้ฟังก์ชันสำเร็จรูป `mean()` ใช้เพียง numpy array และการบวกลบคูณหาร

In [12]:
def func_mean(vec_1):
  mean = np.sum(vec_1) / len(vec_1)
  return mean

In [13]:
func_mean(x)

2.0

In [14]:
def func_mean(vec_2):
  mean = np.sum(vec_2) / len(vec_2)
  return mean

In [15]:
func_mean(y)

6.0

สร้างฟังก์ชันสำหรับคำนวณค่าเบี่ยงเบนมาตรฐานของค่าในเวคเตอร์หนึ่ง โดยไม่ใช้ฟังก์ชัน `std()` หรือ `stddev()` ใช้เพียง numpy array และการบวกลบคูณหาร

In [43]:
def func_std(vec_1):
  std = np.sqrt(np.mean((np.array(vec_1) - func_mean(vec_1))**2))
  return std

In [32]:
func_std(x)

1.4142135623730951

In [41]:
def func_std(vec_2):
  std = np.sqrt(np.mean((np.array(vec_2) - func_mean(vec_2))**2))
  return std

In [42]:
func_std(y)

2.8284271247461903